*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /*10px /16px = 0.625*/
    font-size: 10px;
}

body{
    font-family: "Rubik" , sans-serif;
    line-height: 1;
    font-weight: 400;
}
.container{
    margin: 0 auto;
}


.topbar{
    
}